<footer class="bg-trans-dark">
  <div class="container">
    <div class="row">
    <div class="col-md-4 mt-4">
     <h2 class="text-uppercase f-text-trans-red mb-2 pl-5">CONTACT</h2>
      <ul>
        <li class="contact-lis">INFO@LENOSCARTS.COM</li>
        <li class="contact-lis">PHONE : +1 ‪(716) 975-7931</li>
        <li class="contact-lis">1616 S HILL ST LOS ANGELES, CA 90015</li>
      </ul>
    </div>   
    <div class="col-md-4 mt-4">
         <h2 class="text-uppercase f-text-trans-red mb-2">INFORMATION</h2>
       <ul>
         <li class="info-lis"><span class="info-lis-span">ABOUT US</span></li>
         <li class="info-lis"><span class="info-lis-span">CART</span></li>
         <li class="info-lis"><span class="info-lis-span">CHECKOUT</span></li>
         <li class="info-lis"><span class="info-lis-span">MY ACCOUNT</span></li>
         <li class="info-lis"><span class="info-lis-span">PRIVACY POLICY</span></li>
         <li class="info-lis"><span class="info-lis-span">SHIPPNG AND DELIVERY</span></li>
         <li class="info-lis"><span class="info-lis-span">SHOP</span></li>
        <li class="info-lis"><span class="info-lis-span">TERM OF SERVICES</span></li>
        <li class="info-lis"><span class="info-lis-span">TRACK YOUR ORDER</span></li>
        <li class="info-lis"><span class="info-lis-span">VALIDATE PRODUCT</span></li>
        <li class="info-lis"><span class="info-lis-span">WHOLESALE</span></li>
      </ul>       
    </div> 
    <div class="col-md-4 mt-4">
      <h2 class="text-uppercase text-trans-red mb-2">MONEY BACK GUARANTEE</h2>
      <div class="sa-menu">
        <img class="mb-4 mt-2 guran-img-sa" src="https://i0.wp.com/www.ghostcarts.com/wp-content/uploads/2023/05/11.webp?w=480&ssl=1">
      </div>        
      <div class="guran-img-cont la-menu">
        <img class="mb-4 mt-2 guran-img" src="https://i0.wp.com/www.ghostcarts.com/wp-content/uploads/2023/05/11.webp?w=480&ssl=1">
      </div>
    </div> 
    </div>   
    <div class="row mt-5">
        <h5 class="text-trans-red copy-ri col-md-2">© 2023 CANNABIS BRAND. ALL RIGHTS RESERVED</h5>
    </div>
  </div>
</footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="/stylesheet/lib/easing/easing.min.js"></script>
  <script src="/stylesheet/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/stylesheet/mail/jqBootstrapValidation.min.js"></script>
  <script src="/stylesheet/mail/contact.js"></script>
  <script src="/stylesheet/js/main.js"></script>
</body>