
<head>
    <meta charset="utf-8">
    <title>cannabis app</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Shop" name="keywords">
    <meta content="best cannabis store" name="description">
    <link rel="apple-touch-icon" sizes="180x180" href="/stylesheet/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/stylesheet/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/stylesheet/img/favicon-16x16.png">
    <link rel="manifest" href="/stylesheet/img/site.webmanifest">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheet/lib/animate/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"crossorigin="anonymous">
    <link href="canas.css" rel="stylesheet">
    <link href="/stylesheet/css/style.css" rel="stylesheet" crossorigin="anonymous">
  </head>
  <body> 
   <div class="topbar"> 
     <div class="topbar-p">
      <h5 class='text-light phone-num text-nowrap'><span class='fa fa-phone'></span>+1 (716) 776-7931</h5>
      <h5 class='text-light text-nowrap'><span class='fa fa-envelope'></span>info@cannabisapp.com</h5>
      <span class="fa fa-facebook text-light topbar-icon la-menu"></span>
      <span class="fa fa-twitter text-light topbar-icon la-menu la-menu"></span>
      <span class="fa fa-instagram text-light topbar-icon la-menu"></span>
      <span class="fa fa-wifi text-light topbar-icon la-menu"></span>
      <h5 class='text-light la-menu'><span class='fa fa-shopping-cart text-light'></span>0 Items</h5>
      </div>
   </div>
      <nav class="navbar navbar-expand-lg home-nav">
         <div class='container'>        
         <a class="text-light brandy-name navbar-brand" href="/">Lenos</a>   
           <div class="nav-item sa-menu ml-3 p-relative fix-overflow">
            <i class="fa fa-search text-light"></i>
           </div>         
         <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
           <span class="" role="button" ><i class="fa fa-bars" aria-hidden="true"></i></span>
         </button>  
         <div class="collapse navbar-collapse" id="navbarCollapse">
         <ul class="navbar-nav ml-auto navbar-ul">
             <li class="nav-item">
              <a class="nav-link text-light home" href="/">Home</a>
                   </li>
       <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle text-light" href="/shop" id="navbarDropdown">Shop
       </a>
       <div class="dropdown-menu bg-trans-dark" aria-labelledby="navbarDropdown">
               <a class="dropdown-item text-light" href="/carts">Ghost Carts</a>
               <a class="dropdown-item text-light" href="/extracts">Ghost Extracts</a>
               <a class="dropdown-item text-light" href="/touch-x">Touch x Ghost</a>
       </div>
     </li>
          <li class="nav-item">
               <a class="nav-link text-light" href="/about">About us</a>
                   </li>
         <li class="nav-item">
                <a class="nav-link text-light" href="/wholesale">Wholesale</a>
          </li>
          <li class="nav-item">
             <a class="nav-link text-light" href="/account">My account</a>
         </li>
           <li class="nav-item">
               <a class="nav-link text-light" href="validate-product">Validate product</a>
                   </li>          
          <li class="nav-item la-menu ml-3 p-relative fix-overflow">
            <i class="fa fa-search text-light"></i>
           </li>
          </ul>
          </div>
         </div>
  </nav>
  <div class="spac-af">
    <br><br> <br> <br>
  </div>