<%-include('./partials/header.ejs')%>
  <div class="container de-main-cont">
    <div class="display-flex breadcomb">
       <h5 class="">Home</h5>
       <span class="fa fa-angle-double-right"></span>
       <h5 class="brcomb-s">Shop</h5>
       <span class="fa fa-angle-double-right"></span>
       <h5 class="">Ghost Train Haze Ghost Extracts</h5>
    </div>
    <div class="row">
       <div class="col-lg-9 col-md-12">
          <div class="row">
              <div class="col-md-6">
                  <div class="de-img-cont">
                     <img class="de-img" src="https://www.ghostcarts.com/wp-content/uploads/2023/05/California-Ghost-eCommerce-Shots-Individual-Front-Facing-with-Device-0007-300x300.png">
                     <div class="p-relative">
                        <button class="de-sale">Sale!</button>
                        <span class="de-search-icon fa fa-search"></span>
                     </div>
                  </div>
              </div>
              <div class="col-md-6 de-pro">
                   <h3 class="de-ti">GHOST TRAIN HAZE GHOST EXTRACTS</h3>
                   <div class="display-flex">
                      <h3 class="de-discount">$50.00</h3>
                      <h3 class="de-price">$20.00</h3>
                   </div>
                   <h6 class="g-font">the ghost train haze is known for a cerebral</h6>
                   <h6 class="g-font">hazy type of high.</h6>
                   <h5 class="mb-2"><strong>FLAVOR/TASTE</strong></h5>
                   <h6 class="g-font">citrus • herbal • lemon</h6>
                   <h5 class="mb-3"><strong>EFFECTS</strong></h5>
                   <h6 class="mb-4 g-font">energetic • uplifted • focus</h6>
                   <div class="display-flex mb-4">
                      <input type="number" value="1" class="de-inp">
                      <button class="de-btn">Add to Cart <span class="fa fa-angle-right"></button>
                   </div>
                       <hr>
                       <h6 class="text-sm g-font">Category: <span class="text-blue">Ghost Extracts</span></h6>
              </div>
          </div>
       </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-12">
         <div class="de-des">
          <div class="de-tab">
              <button class="g-font">Description</button>
          </div>            
          <div class="container de-in-cont">
            <h3 class="mt-4"><strong>DESCRIPTION</strong></h3>
            <h3><strong>GHOST TRAIN HAZE GHOST EXTRACTS: THE BEST GHOST DISPOSABLE FLAVOR</strong></h3>
            <h5 class="mb-2 de-c">Crisp <strong>Apples, Sweet Cinnamon:</strong> Immerse yourself in the captivating world of ghost train haze ghost extracts, where the delightful essence of crisp apples and sweet cinnamon come together in a symphony of flavor. This premium vape cartridge offers a harmonious fusion that transports you to a nostalgic breakfast experience with every inhale.</h5>
            <h3 class="mb-2"><strong>WHERE TO BUY GHOST TRAIN HAZE GHOST EXTRACTS</strong></h3>
            <h5 class="de-c"><strong>Exquisite Quality and Potency:</strong> Discover a vaping experience like no other with Apple Jacks Ghost disposable. Crafted with meticulous precision, these vape cartridges embody exquisite quality and potent effectiveness. From the selection of ingredients to the implementation of advanced extraction techniques, Apple Jacks Ghost carts ensure a consistent and smooth vaping journey you can rely on.</h5>
            <h3><strong>BENEFITS OF GHOST CARTS DISPOSABLE</strong></h3>
            <h5 class="mb-5 de-c">Heighten Your Sensations: Take your vaping experience to unprecedented levels with the captivating charm of train haze ghost carts. Let the aromatic ballet of apple and cinnamon enchant your taste buds, as the formidable THC potency propels you into a mesmerizing euphoric expedition. Embrace the melding of flavor and impact that Apple Jacks Ghost presents, and revolutionize your vaping journey with a hint of refined artistry.</h5>
         </div>
        </div>
      </div>
   </div>
    <div class="row">
       <div class="col-lg-9 col-md-12 related-ps">
          <h3 class="mb-4"><strong>RELATED PRODUCTS</strong></h3>
          <div class="row">
              <div class="col-md-4 mb-4">
                  <div class="img-cont mb-3">
                      <img class="product-img img-center img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/05/California-Ghost-eCommerce-Shots-Individual-Front-Facing-with-Device-0007-300x300.png">
                      <button class="sales-img-v"><span>Sales!</span></button>                    
                        <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
                         <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
                     </div>
                  <h2 class='product-name'>BlIZARD GHOST</h2>
                  <div class="display-flex"><h4 class="discount-price">$25.00</h4><h4 class="p-price">$15.00</h4></div>
               </div>
          <div class="col-md-4 mb-4">
              <div class="img-cont mb-3">
                  <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/05/California-Ghost-eCommerce-Shots-Individual-Front-Facing-with-Device-0007-300x300.png">
                  <button class="sales-img-v"><span>Sales!</span></button>                    
                  <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
                   <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
              </div>
              <h2 class='product-name text-Lfont'>BlIZARD GHOST</h2>
              <div class="display-flex"><h4 class="discount-price">$25.00</h4><h4 class="p-price">$15.00</h4></div>
           </div>
      <div class="col-md-4 mb-4">
          <div class="img-cont mb-3">
              <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/05/California-Ghost-eCommerce-Shots-Individual-Front-Facing-with-Device-0007-300x300.png">
              <button class="sales-img-v"><span>Sales!</span></button>                    
              <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
               <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
          </div>
          <h2 class='product-name text-Lfont'>BlIZARD GHOST</h2>
          <div class="display-flex"><h4 class="discount-price">$25.00</h4><h4 class="p-price">$15.00</h4></div>
       </div>
  </div>   
       </div>
    </div>
    <div class="p-relative la-menu"><h5 class="n-f-line">‪</h5></div>
  </div>
  <style>
  .n-f-line{
  border-left: 1.6px solid rgb(238,238,238);
  position: absolute;
  display: flex;
  left: 80%;
  top: -2800px;
  height: 3000px;
  z-index: -1;
  }
  .product-name{
      font-size: 25px;
      font-weight: 600 !important;
  }
  </style>
  <%-include('./partials/footer.ejs')%>