<%-include('./partials/header.ejs')%>
  <div class="container de-main-cont mb-4">
    <div class="display-flex breadcomb">
       <h5 class="">Home</h5>
       <span class="fa fa-angle-double-right"></span>
       <h5 class="">Ghost Extracts</h5>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-9">
        <div class="touch-ts">
    <h2>GHOST EXTRACTS</h2>
    <h3>WHAT IS GHOST EXTRACTS?</h3>
    <h5>Understanding the Essence: Decoding Ghost extracts: Exploring the Craftsmanship Behind Premium Cannabis Products Unveiling the Secrets: What Sets Ghost disposable Apart in the Cannabis Market?</h5>
    <h3>HOW TO USE GHOST CARTS</h3>
    <h5>To truly elevate your cannabis experience with Ghost, understanding the optimal consumption techniques is key. Whether you prefer concentrates, cartridges, or edibles, mastering the art of using Ghost will unlock a world of flavor, potency, and satisfaction.</h5>
    <h3>WHERE TO BUY GHOST EXTRACTS</h3>
    <h5>When it comes to purchasing Ghost Extract, authenticity and quality are paramount. To ensure an exceptional experience, it is crucial to source Ghost carts from trusted and reputable Supplier which is the official <span class="text-green">ghost carts website.</span></h5>
    <h3>THE RANGE OF GHOST DISPOSABLE PRODUCTS</h3>
    <h5>Exploring Options and Varieties: From Shatter to Sauce: Exploring Ghost’ Diverse Cannabis Offerings Indulge in a World of Choices: Ghost Product Range for Every Taste</h5>
    <h5>We takes pride in offering a diverse array of cannabis products to cater to every taste and preference. Whether you seek the bold and potent experience of shatter or the smooth and flavorful journey of sauce, Ghost has something to captivate every palate. Immerse yourself in their extensive product range and explore the nuances of different strains and extraction methods.</h5>
    <h3>THE SCIENCE BEHIND GHOST DISPOSABLES EXTRACT</h3>
    <h5>Quality, Purity, and Potency: Unveiling the Science: How Ghost carts Achieves Unmatched Quality Pure and Potent: The Commitment to Excellence in Ghost Products</h5>
    <h5>Behind the scenes, Ghost Extract merges artistry with science to create products of unparalleled quality, purity, and potency. Their rigorous extraction processes, strict quality control measures, and state-of-the-art facilities ensure that each product maintains the highest standards.</h5>
      </div>
    <div class="display-flex s-sort mt-3">
       <h6>Showing 1–9 of 18 results</h6>
       <select>
          <option>Sort by popularity</option>
          <option>Sort by latest</option>
          <option>Sort by price: high to low</option>
          <option>Sort by price: low to high</option>
       </select>
    </div>
    <div class="row mt-4">
    <div class="col-md-4 mb-5">
      <div class="img-cont mb-3">
          <img class="product-img img-center" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
          <button class="sales-img-v"><span>Sales!</span></button>                    
          <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
      </div>
      <h2 class='product-name text-Lfont'>WHITE FIRE OG EXTRACT</h2>
      <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
   </div>
   <div class="col-md-4 mb-5">
    <div class="img-cont mb-3">
        <img class="product-img img-center" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
        <button class="sales-img-v"><span>Sales!</span></button>                    
        <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
    </div>
    <h2 class='product-name text-Lfont'>WHITE FIRE OG EXTRACT</h2>
    <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
  </div>
  <div class="col-md-4 mb-5">
  <div class="img-cont mb-3">
      <img class="product-img img-center" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
      <button class="sales-img-v"><span>Sales!</span></button>                    
       <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
  </div>
  <h2 class='product-name text-Lfont'>WHITE FIRE OG EXTRACT</h2>
  <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
  </div>
  <div class="col-md-4 mb-5">
  <div class="img-cont mb-3">
    <img class="product-img img-center" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
    <button class="sales-img-v"><span>Sales!</span></button>                    
    <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
  </div>
  <h2 class='product-name text-Lfont'>WHITE FIRE OG EXTRACT</h2>
  <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
  </div>    
  <div class="col-md-4 mb-5">
  <div class="img-cont mb-3">
    <img class="product-img img-center" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
    <button class="sales-img-v"><span>Sales!</span></button>                    
    <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
  </div>
  <h2 class='product-name text-Lfont'>WHITE FIRE OG EXTRACT</h2>
  <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
  </div>
  <div class="col-md-4 mb-5">
  <div class="img-cont mb-3">
    <img class="product-img img-center" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
    <button class="sales-img-v"><span>Sales!</span></button>                    
    <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
  </div>
  <h2 class='product-name text-Lfont'>WHITE FIRE OG EXTRACT</h2>
  <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
  </div>
  <div class="col-md-4 mb-5">
  <div class="img-cont mb-3">
    <img class="product-img img-center" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
    <button class="sales-img-v"><span>Sales!</span></button>                    
    <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
  </div>
  <h2 class='product-name text-Lfont'>WHITE FIRE OG EXTRACT</h2>
  <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
  </div>
  <div class="col-md-4 mb-5">
  <div class="img-cont mb-3">
    <img class="product-img img-center" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
    <button class="sales-img-v"><span>Sales!</span></button>                    
    <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
  </div>
  <h2 class='product-name text-Lfont'>WHITE FIRE OG EXTRACT</h2>
  <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
  </div>
  <div class="col-md-4 mb-5">
  <div class="img-cont mb-3">
    <img class="product-img img-center" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
    <button class="sales-img-v"><span>Sales!</span></button>                    
    <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
  </div>
  <h2 class='product-name text-Lfont'>WHITE FIRE OG EXTRACT</h2>
  <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
  </div>
  </div>
      <div class="display-flex next-btns">
        <button>1</button>
        <button>2</button>
        <button><span class="fa fa-long-arrow-right"></span></button>
    </div>        
  </div>
  </div>
  <div class="p-relative la-menu"><h5 class="n-f-line">‪</h5></div>
  </div>
  <style>
  .n-f-line{
  border-left: 1.6px solid rgb(238,238,238);
  position: absolute;
  display: flex;
  left: 80%;
  top: -2800px;
  height: 3000px;
  z-index: -1;
  }
  .img-cont:hover{
  border: none;
  }
  .img-cont:hover .product-img{
  filter: blur(0) !important;
  }
  </style>
  <%-include('./partials/footer.ejs')%>