<%-include('./partials/header.ejs')%>
  <!--pb carousel-->
  <div id="DIV_1">
    <div id="DIV_2">
      <div id="DIV_3">
        <div id="DIV_4">
          <div id="DIV_5">
            <h2 id="H2_6">
              <a href="https://www.ghostcarts.com/shop/" id="A_7">Buy Ghost Carts Online</a>
            </h2>
          </div>
          <div id="DIV_8">
            <a href="https://www.ghostcarts.com/shop/" id="A_9">Available</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---->
  <div class="heavy-break">
     <br><br> <br><br><br> <br> <br> <br> <br> <br> <br> <br><br> <br> <br> <br> <br><br><br><br><br>
   </div>
  <h2 class="sub-head mb-5">WELCOME TO LENOS CARTS STORE</h2>
           <div class="container">
             <div class="row">
                <div class="col-md-3 col-6 mb-4 mx-auto">
                   <div class="img-cont mb-3">
                       <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
                       <button class="sales-img-v"><span>Sales!</span></button>                    
                       <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
                        <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
                   </div>
                   <h2 class='product-name'>starter park(11 mix flavours)</h2>
                   <div class="display-flex"><h4 class="discount-price">$30.00</h4><h4 class="p-price">$40.00</h4></div>
                </div>
                <div class="col-md-3 col-6 mb-4 mx-auto">
                  <div class="img-cont mb-3">
                      <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
                      <button class="sales-img-v"><span>Sales!</span></button>                    
                      <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
                       <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
                  </div>
                  <h2 class='product-name'>starter park(11 mix flavours)</h2>
                  <div class="display-flex"><h4 class="discount-price">$30.00</h4><h4 class="p-price">$40.00</h4></div>
               </div>
               <div class="col-md-3 col-6 mb-4 mx-auto">
                <div class="img-cont mb-3">
                    <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
                    <button class="sales-img-v"><span>Sales!</span></button>                    
                    <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
                     <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
                </div>
                <h2 class='product-name'>starter park(11 mix flavours)</h2>
                <div class="display-flex"><h4 class="discount-price">$30.00</h4><h4 class="p-price">$40.00</h4></div>
             </div>
             <div class="col-md-3 col-6 mb-4 mx-auto">
              <div class="img-cont mb-3">
                  <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
                  <button class="sales-img-v"><span>Sales!</span></button>                    
                  <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
                   <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
              </div>
              <h2 class='product-name'>starter park(11 mix flavours)</h2>
              <div class="display-flex"><h4 class="discount-price">$30.00</h4><h4 class="p-price">$40.00</h4></div>
           </div>
           <div class="col-md-3 col-6 mb-4 mx-auto">
            <div class="img-cont mb-3">
                <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
                <button class="sales-img-v"><span>Sales!</span></button>                    
                <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
                 <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
            </div>
            <h2 class='product-name'>starter park(11 mix flavours)</h2>
            <div class="display-flex"><h4 class="discount-price">$30.00</h4><h4 class="p-price">$40.00</h4></div>
         </div>
         <div class="col-md-3 col-6 mb-4 mx-auto">
          <div class="img-cont mb-3">
              <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
              <button class="sales-img-v"><span>Sales!</span></button>                    
              <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
               <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
          </div>
          <h2 class='product-name'>starter park(11 mix flavours)</h2>
          <div class="display-flex"><h4 class="discount-price">$30.00</h4><h4 class="p-price">$40.00</h4></div>
       </div>
       <div class="col-md-3 col-6 mb-4 mx-auto">
        <div class="img-cont mb-3">
            <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
            <button class="sales-img-v"><span>Sales!</span></button>                    
            <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
             <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
        </div>
        <h2 class='product-name'>starter park(11 mix flavours)</h2>
        <div class="display-flex"><h4 class="discount-price">$30.00</h4><h4 class="p-price">$40.00</h4></div>
     </div>
     <div class="col-md-3 col-6 mb-4 mx-auto">
      <div class="img-cont mb-3">
          <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
          <button class="sales-img-v"><span>Sales!</span></button>                    
          <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
           <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
      </div>
      <h2 class='product-name'>starter park(11 mix flavours)</h2>
      <div class="display-flex"><h4 class="discount-price">$30.00</h4><h4 class="p-price">$40.00</h4></div>
   </div>
   <div class="col-md-3 col-6 mb-4 mx-auto">
    <div class="img-cont mb-3">
        <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
        <button class="sales-img-v"><span>Sales!</span></button>                    
        <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
         <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
    </div>
    <h2 class='product-name'>starter park(11 mix flavours)</h2>
    <div class="display-flex"><h4 class="discount-price">$30.00</h4><h4 class="p-price">$40.00</h4></div>
  </div>
  <div class="col-md-3 col-6 mb-4 mx-auto">
    <div class="img-cont mb-3">
        <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
        <button class="sales-img-v"><span>Sales!</span></button>                    
        <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
         <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
    </div>
    <h2 class='product-name'>starter park(11 mix flavours)</h2>
    <div class="display-flex"><h4 class="discount-price">$30.00</h4><h4 class="p-price">$40.00</h4></div>
  </div>
  <div class="col-md-3 col-6 mb-4 mx-auto">
    <div class="img-cont mb-3">
        <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
        <button class="sales-img-v"><span>Sales!</span></button>                    
        <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
         <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
    </div>
    <h2 class='product-name'>starter park(11 mix flavours)</h2>
    <div class="display-flex"><h4 class="discount-price">$30.00</h4><h4 class="p-price">$40.00</h4></div>
  </div>
  <div class="col-md-3 col-6 mb-4 mx-auto">
    <div class="img-cont mb-3">
        <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
        <button class="sales-img-v"><span>Sales!</span></button>                    
        <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
         <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
    </div>
    <h2 class='product-name'>starter park(11 mix flavours)</h2>
    <div class="display-flex"><h4 class="discount-price">$30.00</h4><h4 class="p-price">$40.00</h4></div>
  </div>              
             </div>
           </div>
        <div class="bare-des">
        <div class="container">
          <div class="bare-des-sub">
            <h3 class="bare-des-h pt-5">BUY LENOS CARTS ONLINE</h3>
            <h5 class="bare-des-c mb-2">Welcome to the Lenos Carts Store, your one-stop shop for premium disposable vape pens. Our Lenos Carts are a top choice for those seeking a high-quality vaping experience, and we offer a wide selection of delicious flavors to choose from.</h5>
            <h3 class="bare-des-h mt-2">LENOS VAPE PEN PREMIUM THC</h3>
            <h5 class="bare-des-c mb-2">Whether you’re a seasoned vaper or just getting started, Lenos Carts are perfect for anyone who wants to enjoy the benefits of vaping without the hassle of maintenance or refilling. Our disposable Lenos Carts come pre-filled with premium THC oil, ensuring a consistent and smooth vaping experience every time.</h5>
            <h3 class="bare-des-h mt-2">BUY ORIGINAL LENOS EXTRACTS</h3>
            <h5 class="bare-des-c mb-2">At Lenos Carts Store, we take pride in offering only the highest quality products. Each of our Lenos extracts for sale is made with top-of-the-line components and carefully selected strains to deliver a superior vaping experience. And with our competitive pricing, you can enjoy the best vaping experience without breaking the bank.</h5>
            <h3 class="bare-des-h mt-2">LENOS DISPOSABLE CARTS</h3>
            <h5 class="bare-des-c pb-5">So if you’re looking for a convenient and reliable way to enjoy your favorite strains, look no further than Lenos Carts Store. Explore our selection of Lenos Carts today and discover why so many vapers choose us for their vaping needs. Whether you prefer fruity flavors like Strawberry Banana or classic strains like Blue Dream, we have the perfect Lenos Cart for you. Shop with us today and experience the difference that comes with vaping with Lenos Carts Store.</h5>
          </div>
        </div>
        </div>
    <div class="m-quali-cans">
     <div class="container">
        <div class="quali-cans">
            <h1 class="quali-h">QUALITY CANNABIS PRODUCTS.</h1>
            <h5 class="quali-c"> we keep the process that we use for our lenos extracts cannabis products simple.</h5>
            <div class="row mt-5 quali-img-row">
               <div class="col-md-4">
                <div class="quali-img-d">
                  <img class="quali-img mb-4" src="https://i0.wp.com/www.ghostcarts.com/wp-content/uploads/2023/05/ghost-extraction.png?w=500&ssl=1">
                  <h4 class="quali-img-t">PREMIUM CANNABIS</h4>                
                </div>
               </div>
            <div class="col-md-4">
             <div class="quali-img-d">              
                <img class="quali-img mb-4" src="https://i0.wp.com/www.ghostcarts.com/wp-content/uploads/2023/05/ghost-third-party-testing.png?w=500&ssl=1">
                <h4 class="quali-img-t">3RD PARTY TESTED</h4>
             </div>
             </div>
        <div class="col-md-4">
          <div class="quali-img-d">            
              <img class="quali-img mb-4" src="https://i0.wp.com/www.ghostcarts.com/wp-content/uploads/2023/05/ghost-quality-control.png?w=500&ssl=1">
              <h4 class="quali-img-t">QUALITY CONTROL CHECKED</h4>
           </div>
          </div>
        </div>
       </div>
     </div>    
    </div>
    <div class="img-guran">
      <div class="container">
         <div class="img-guran-ii">
            <div class="row">
               <div class="col-md-6">
                 <img class="img-guran-img" src="https://www.ghostcarts.com/wp-content/uploads/2023/11/photo_2023-11-08_08-08-20.jpg">
               </div>
               <div class="col-md-6">
                 <h3 class="img-guran-h">LENOS EXTRACTS CANNABIS.</h3>
                 <h5 class="img-guran-c">we believe in providing top-shelf cannabis that you can enjoy any time of the day. we have bold and amazing flavors.</h5>
                 <h3 class="img-guran-h">OUR GUARANTEE.</h3>
                 <h5 class="img-guran-c pb-5">our approach involves blending high-potency thc oil with the finest quality, cannabis-derived terpenes. our commitment is to use a proprietary combination of top-notch cannabis-derived terpenes and high-potency distillate to maintain a consistent and dependable high.</h5>
               </div>
            </div>
         </div>
      </div>
    </div>
    <div class="bulk-buy">
      <div class="container">
         <div class="bulk-buy-ii">
            <div class="row">
               <div class="col-md-6">
               <h3 class="bulk-buy-h">LENOS CART DISPOSABLES BULK BUY NOW</h3>
               <h5 class="bulk-buy-c">If you’re looking to stock up on Lenos Cart disposables in bulk, you’ve come to the right place. Buying in bulk can save you money and ensure that you always have plenty of disposables on hand when you need them.</h5>
               <h5 class="bulk-buy-c">When you buy Lenos Cart disposables in bulk or fryd carts, you can rest assured that you’re getting a high-quality product. Our disposables are made with the highest standards in mind and are lab-tested to ensure quality and purity. </h5>
               <h5 class="bulk-buy-c">Buying in bulk is also a great way to save money on your lenos products. We offer competitive pricing on all of our bulk orders, so you can get more for your money. Plus, with our fast and reliable shipping, you can have your bulk order delivered right to your door in no time.</h5>
              </div>
              <div class="col-md-6">
                <img class="bulk-buy-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
              </div>
             </div>
           </div>
        </div>
      </div>
     <h4 class="sub-head mb-3">BUY LENOS EXTRACTS DISPOSABLE VAPE PEN</h4>
       <div class="container pt-4">
        <div class="row">
           <div class="col-md-3 col-6 mb-4 mx-auto">
              <div class="img-cont mb-3">
                  <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
                  <button class="sales-img-v"><span>Sales!</span></button>                    
                  <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
                   <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
              </div>
              <h2 class='product-name'>starter park(11 mix flavours)</h2>
              <div class="display-flex"><h4 class="discount-price">$56.00</h4><h4 class="p-price">$40.00</h4></div>
           </div>
           <div class="col-md-3 col-6 mb-4 mx-auto">
             <div class="img-cont mb-3">
                 <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
                 <button class="sales-img-v"><span>Sales!</span></button>                    
                 <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
                  <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
             </div>
             <h2 class='product-name'>starter park(11 mix flavours)</h2>
             <div class="display-flex"><h4 class="discount-price">$50.00</h4><h4 class="p-price">$40.00</h4></div>
          </div>
          <div class="col-md-3 col-6 mb-4 mx-auto">
           <div class="img-cont mb-3">
               <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
               <button class="sales-img-v"><span>Sales!</span></button>                    
               <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
                <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
           </div>
           <h2 class='product-name'>starter park(11 mix flavours)</h2>
           <div class="display-flex"><h4 class="discount-price">$20.00</h4><h4 class="p-price">$30.00</h4></div>
        </div>
        <div class="col-md-3 col-6 mb-4 mx-auto">
         <div class="img-cont mb-3">
             <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
             <button class="sales-img-v"><span>Sales!</span></button>                    
             <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
              <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
         </div>
         <h2 class='product-name'>starter park(11 mix flavours)</h2>
         <div class="display-flex"><h4 class="discount-price">$30.00</h4><h4 class="p-price">$45.00</h4></div>
      </div>
      <div class="col-md-3 col-6 mb-4 mx-auto">
       <div class="img-cont mb-3">
           <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
           <button class="sales-img-v"><span>Sales!</span></button>                    
           <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
            <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
       </div>
       <h2 class='product-name'>starter park(11 mix flavours)</h2>
       <div class="display-flex"><h4 class="discount-price">$35.00</h4><h4 class="p-price">$40.00</h4></div>
    </div>
    <div class="col-md-3 col-6 mb-4 mx-auto">
     <div class="img-cont mb-3">
         <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
         <button class="sales-img-v"><span>Sales!</span></button>                    
         <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
          <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
     </div>
     <h2 class='product-name'>starter park(11 mix flavours)</h2>
     <div class="display-flex"><h4 class="discount-price">$40.00</h4><h4 class="p-price">$60.00</h4></div>
  </div>
  <div class="col-md-3 col-6 mb-4 mx-auto">
   <div class="img-cont mb-3">
       <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
       <button class="sales-img-v"><span>Sales!</span></button>                    
       <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
        <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
   </div>
   <h2 class='product-name'>starter park(11 mix flavours)</h2>
   <div class="display-flex"><h4 class="discount-price">$20.00</h4><h4 class="p-price">$40.00</h4></div>
  </div>
  <div class="col-md-3 col-6 mb-4 mx-auto">
  <div class="img-cont mb-3">
     <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
     <button class="sales-img-v"><span>Sales!</span></button>                    
     <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
      <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
  </div>
  <h2 class='product-name'>starter park(11 mix flavours)</h2>
  <div class="display-flex"><h4 class="discount-price">$20.00</h4><h4 class="p-price">$30.00</h4></div>
  </div>            
        </div>
      </div>
      <br>
      <h3 class="mt-5 text-center text-Lfont">TORCH X GHOST</h3>
      <h4 class="text-center">LATEST COLLECTION AND BEST SELLING</h4>
      <div class="container pt-4 mb-5">
        <div class="row">
           <div class="col-md-3 col-6 mb-4 mx-auto">
              <div class="img-cont mb-3">
                  <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
                  <button class="sales-img-v"><span>Sales!</span></button>                    
                  <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
                   <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
              </div>
              <h2 class='product-name'>starter park(11 mix flavours)</h2>
              <div class="display-flex"><h4 class="discount-price">$56.00</h4><h4 class="p-price">$40.00</h4></div>
           </div>
           <div class="col-md-3 col-6 mb-4 mx-auto">
             <div class="img-cont mb-3">
                 <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
                 <button class="sales-img-v"><span>Sales!</span></button>                    
                 <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
                  <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
             </div>
             <h2 class='product-name'>starter park(11 mix flavours)</h2>
             <div class="display-flex"><h4 class="discount-price">$50.00</h4><h4 class="p-price">$40.00</h4></div>
          </div>
          <div class="col-md-3 col-6 mb-4 mx-auto">
           <div class="img-cont mb-3">
               <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
               <button class="sales-img-v"><span>Sales!</span></button>                    
               <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
                <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
           </div>
           <h2 class='product-name'>starter park(11 mix flavours)</h2>
           <div class="display-flex"><h4 class="discount-price">$20.00</h4><h4 class="p-price">$30.00</h4></div>
        </div>
        <div class="col-md-3 col-6 mb-4 mx-auto">
         <div class="img-cont mb-3">
             <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
             <button class="sales-img-v"><span>Sales!</span></button>                    
             <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
              <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
         </div>
         <h2 class='product-name'>starter park(11 mix flavours)</h2>
         <div class="display-flex"><h4 class="discount-price">$30.00</h4><h4 class="p-price">$45.00</h4></div>
      </div>
      <div class="col-md-3 col-6 mb-4 mx-auto">
       <div class="img-cont mb-3">
           <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
           <button class="sales-img-v"><span>Sales!</span></button>                    
           <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
            <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
       </div>
       <h2 class='product-name'>starter park(11 mix flavours)</h2>
       <div class="display-flex"><h4 class="discount-price">$35.00</h4><h4 class="p-price">$40.00</h4></div>
    </div>
    <div class="col-md-3 col-6 mb-4 mx-auto">
     <div class="img-cont mb-3">
         <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
         <button class="sales-img-v"><span>Sales!</span></button>                    
         <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
          <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
     </div>
     <h2 class='product-name'>starter park(11 mix flavours)</h2>
     <div class="display-flex"><h4 class="discount-price">$40.00</h4><h4 class="p-price">$60.00</h4></div>
  </div>
  <div class="col-md-3 col-6 mb-4 mx-auto">
   <div class="img-cont mb-3">
       <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
       <button class="sales-img-v"><span>Sales!</span></button>                    
       <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
        <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
   </div>
   <h2 class='product-name'>starter park(11 mix flavours)</h2>
   <div class="display-flex"><h4 class="discount-price">$20.00</h4><h4 class="p-price">$40.00</h4></div>
  </div>
  <div class="col-md-3 col-6 mb-4 mx-auto">
  <div class="img-cont mb-3">
     <img class="product-img" src="https://media.discordapp.net/attachments/1177299265819787274/1181962760830058526/Mockup_Product.png?ex=6582f799&is=65708299&hm=c667c9085e57587b2c171a444144ebe3f411896dac0362d4a9f389fa8a0abec3&=&format=webp&quality=lossless&width=727&height=547">
     <button class="sales-img-v"><span>Sales!</span></button>                    
     <button class="trans-blue img-cont-item-h"><span class="fa fa-plus text-light"></button>
      <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
  </div>
  <h2 class='product-name'>starter park(11 mix flavours)</h2>
  <div class="display-flex"><h4 class="discount-price">$20.00</h4><h4 class="p-price">$30.00</h4></div>
  </div>            
        </div>
      </div>
      <br>
      <div class="btn-shade-div mb-5"><button class="btn-shade"><span class="t-btn-shade">All Touch x Lenos</span><i class="fa fa-angle-right"></i></button></div>
      <h3 class="sub-head mb-4 mt-5">LENOS.COM CLIENT REVIEWS </h3>
     <div class="review-show mt-5">
        <div class="container">
           <div class="row">
              <div class="col-md-4 mb-5">
                 <div class="r-show-cont">
                  <div class="container">
                    <img class="r-show-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTftwgvBkEe-egK0nFO41PtykkhBuKZj4EGQ&usqp=CAU">
                    <h5 class="r-show-t">GHOST Cannabis Extract pens are at the TOP of my Pen list. I love the flavor here, I also use the dispensary-grade GHOST for their potent ghost torch Pen, but I was so excited to see this FIRE BRAND being sold really affordable to everyone. Hope to see many more GHOST PEN choices in the near future. HIGHLY recommended</h5>
                    <h5 class="r-show-b">Lonnie Francisco</h5>
                    <h5 class="r-show-s">Verified Buyer</h5>                  
                  </div>
                 </div>
                </div>
               <div class="col-md-4 mb-5">
                 <div class="r-show-cont">
                  <div class="container">
                  <img class="r-show-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR79RANxlVRGWra-Kf4xdL0mmqVvD5UbJ28-L5O0nDOhHtBQN5FOAIowBuK9haFn_G8p1k&usqp=CAU">
                  <h5 class="r-show-t">Great vape. I’ve had maybe 6 other Ghost vapes before this (still in use, last awhile). They’ve all been high quality, smooth hitting, sometimes slight clogging, but easily cleared. I really like the color and design of it – sleek, effects are strong too.
                  </h5>
                  <h5 class="r-show-b">Stephen P</h5>
                  <h5 class="r-show-s">Verified Buyer</h5>                  
                  </div>
               </div>
              </div>
             <div class="col-md-4 mb-5">
               <div class="r-show-cont">
                <div class="container">
                <img class="r-show-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEL5BdcPWZiDxJUrOs3X-h1Bni0LWVGukkPQ&usqp=CAU">
                <h5 class="r-show-t">Presidential OG Hippie Crusher The transaction was no problem. Item came within two or three days.

                  The ghost P og is just that. Nice full-body feeling with a little bit of euphoria. By the end of the session, you’re definitely crushed hahaha.</h5>
                <h5 class="r-show-b">Raelynn</h5>
                <h5 class="r-show-s">Verified Buyer</h5>                
                </div>
             </div>
             </div>
           <div class="col-md-4 mb-5">
            <div class="r-show-cont">
              <div class="container">
              <img class="r-show-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShXfS2tFUWblTg38I74-ldEC89Mm3tpmJFrA&usqp=CAU">
              <h5 class="r-show-t">Best tasting imo I got the orange ones, delicious, and very effective. Strong but not k.o type high still able to function but strongly medicated. These, blackcraft extrax and torch’s haymaker are the 3 best gummies out imo. There ya go</h5>
              <h5 class="r-show-b">Ellen S.</h5>
              <h5 class="r-show-s">Verified Buyer</h5>              
              </div>
           </div>
           </div>
         <div class="col-md-4 mb-5">
           <div class="r-show-cont">
            <div class="container">
            <img class="r-show-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSI8PPUOK3Qz21Mfubr_ZM7mi9HMuTWrRosoml1Mvc44FKOfO0umQTJ375Ubn6hbmmedM8&usqp=CAU">
            <h5 class="r-show-t">Ghost live resin! Yes please!

              These Ghost live resin carts make me feel great. They give me a nice boost with a surprisingly wonderful taste. I love the packaging. Keeps fresh & gummies are at full potential. I highly recommend this product! from this store.</h5>
            <h5 class="r-show-b">Sandra W</h5>
            <h5 class="r-show-s">Verified Buyer</h5>            
            </div>
         </div>
         </div>
       <div class="col-md-4 mb-5">
         <div class="r-show-cont">
          <div class="container">
          <img class="r-show-img" src="https://dz9yg0snnohlc.cloudfront.net/advice/images/regain/5350/323a89d42ce3632ebcf20e85bef3036e-man-crosses-arms-while-smiling-directly-at-the-camera_l_sm.jpg">
          <h5 class="r-show-t">GHOST… Excellent product!
            GHOST… Excellent product!
            These taste great and the package is bigger and so are the carts and gummies. However they work great and I am able to sleep as expected and this makes me feel good to get some sleep. I only take these at night.</h5>
          <h5 class="r-show-b">Conrad Ty</h5>
          <h5 class="r-show-s">Verified Buyer</h5>          
          </div>
       </div>
       </div>
              </div>
           </div>
        </div>
     </div>
     <style>
  #DIV_1 {
      background-position: 50% 50%;
      block-size: 515.573px;
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      bottom: 0px;
      box-sizing: border-box;
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      float: left;
      height: 515.573px;
      inline-size: 1318px;
      inset-block-end: 0px;
      inset-block-start: 0px;
      inset-inline-end: 0px;
      inset-inline-start: 0px;
      left: 0px;
      margin-inline-end: -1318px;
      overflow-wrap: break-word;
      padding-inline-end: 79.0729px;
      padding-inline-start: 79.0729px;
      perspective-origin: 659px 257.781px;
      position: relative;
      right: 0px;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-size-adjust: 100%;
      top: 0px;
      transform-origin: 659px 257.786px;
      width: 100%;
      z-index: 1;
      background: rgba(0, 0, 0, 0) url("https://www.ghostcarts.com/wp-content/uploads/2023/05/black-mamba-single-boxes-and-device.jpeg") no-repeat scroll 50% 50% / cover padding-box border-box;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      margin: 0px -1318px 0px 0px;
      outline: rgb(255, 255, 255) none 0px;
      padding: 0px 79.0729px;
  }/*#DIV_1*/

  #DIV_1:after {
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      overflow-wrap: break-word;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-size-adjust: 100%;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_1:after*/

  #DIV_1:before {
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      overflow-wrap: break-word;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-size-adjust: 100%;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_1:before*/

  #DIV_2 {
      block-size: 515.573px;
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      bottom: 0px;
      box-sizing: border-box;
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      display: table;
      height: 515.573px;
      inline-size: 1159.85px;
      inset-block-end: 0px;
      inset-block-start: 0px;
      inset-inline-end: 0px;
      inset-inline-start: 0px;
      left: 0px;
      overflow-wrap: break-word;
      perspective-origin: 579.927px 257.781px;
      position: relative;
      right: 0px;
      table-layout: fixed;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-size-adjust: 100%;
      top: 0px;
      transform-origin: 579.927px 257.786px;
      width: 100%;
      z-index: 2;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_2*/

  #DIV_2:after {
      block-size: 0px;
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      caret-color: rgb(255, 255, 255);
      clear: both;
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      content: '"' '"';
      display: block;
      height: 0px;
      inline-size: 0px;
      overflow-wrap: break-word;
      perspective-origin: 0px 0px;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-size-adjust: 100%;
      transform-origin: 0px 0px;
      visibility: hidden;
      width: 0px;
      border: 0px none rgb(255, 255, 255);
      font: 500 0px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_2:after*/

  #DIV_2:before {
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      overflow-wrap: break-word;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-size-adjust: 100%;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_2:before*/

  #DIV_3 {
      block-size: 515.573px;
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      box-sizing: border-box;
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      display: table-cell;
      height: 515.573px;
      inline-size: 1159.85px;
      overflow-wrap: break-word;
      perspective-origin: 579.927px 257.781px;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-size-adjust: 100%;
      transform-origin: 579.927px 257.786px;
      vertical-align: middle;
      width: 100%;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_3*/

  #DIV_3:after {
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      overflow-wrap: break-word;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-size-adjust: 100%;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_3:after*/

  #DIV_3:before {
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      overflow-wrap: break-word;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-size-adjust: 100%;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_3:before*/

  #DIV_4 {
      block-size: 515.573px;
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      box-sizing: border-box;
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      height: 515.573px;
      inline-size: 1159.85px;
      overflow-wrap: break-word;
      padding-block-end: 145px;
      padding-block-start: 185.573px;
      padding-inline-end: 92.7812px;
      padding-inline-start: 92.7812px;
      perspective-origin: 579.927px 257.781px;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
      text-size-adjust: 100%;
      transform: matrix(1, 0, 0, 1, 0, 0);
      transform-origin: 579.927px 257.786px;
      width: 100%;
      animation: 0.7s ease-in-out 0.9s 1 normal both running fadeBottom;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
      padding: 185.573px 92.7812px 145px;
  }/*#DIV_4*/

  #DIV_4:after {
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      overflow-wrap: break-word;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
      text-size-adjust: 100%;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_4:after*/

  #DIV_4:before {
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      overflow-wrap: break-word;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
      text-size-adjust: 100%;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_4:before*/

  #DIV_5 {
      block-size: 115px;
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-end-end-radius: 100px;
      border-end-start-radius: 100px;
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      border-start-end-radius: 100px;
      border-start-start-radius: 100px;
      box-sizing: border-box;
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      height: 115px;
      inline-size: 974.292px;
      overflow-wrap: break-word;
      padding-block-end: 30px;
      padding-block-start: 30px;
      padding-inline-end: 30px;
      padding-inline-start: 30px;
      perspective-origin: 487.146px 57.5px;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
      text-size-adjust: 100%;
      transform-origin: 487.146px 57.5px;
      width: 100%;
      background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0% / auto padding-box border-box;
      border: 0px none rgb(255, 255, 255);
      border-radius: 100px;
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
      padding: 30px;
  }/*#DIV_5*/

  #DIV_5:after {
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      overflow-wrap: break-word;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
      text-size-adjust: 100%;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_5:after*/

  #DIV_5:before {
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      overflow-wrap: break-word;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
      text-size-adjust: 100%;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_5:before*/

  #H2_6 {
      block-size: 55px;
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      box-sizing: border-box;
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      height: 55px;
      inline-size: 914.292px;
      margin-block-end: 0px;
      margin-block-start: 0px;
      overflow-wrap: break-word;
      padding-block-end: 10px;
      perspective-origin: 457.146px 27.5px;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
      text-size-adjust: 100%;
      text-transform: uppercase;
      transform-origin: 457.146px 27.5px;
      width: 100%;
      border: 0px none rgb(255, 255, 255);
      font: 700 45px / 45px Lato, Helvetica, Arial, Lucida, sans-serif;
      list-style: outside none none;
      margin: 0px;
      outline: rgb(255, 255, 255) none 0px;
      padding: 0px 0px 10px;
  }/*#H2_6*/

  #H2_6:after {
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      overflow-wrap: break-word;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
      text-size-adjust: 100%;
      text-transform: uppercase;
      border: 0px none rgb(255, 255, 255);
      font: 700 45px / 45px Lato, Helvetica, Arial, Lucida, sans-serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#H2_6:after*/

  #H2_6:before {
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      overflow-wrap: break-word;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
      text-size-adjust: 100%;
      text-transform: uppercase;
      border: 0px none rgb(255, 255, 255);
      font: 700 45px / 45px Lato, Helvetica, Arial, Lucida, sans-serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#H2_6:before*/

  #A_7 {
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      box-sizing: border-box;
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      overflow-wrap: break-word;
      perspective-origin: 0px 0px;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
      text-size-adjust: 100%;
      text-transform: uppercase;
      transform-origin: 0px 0px;
      border: 0px none rgb(255, 255, 255);
      font: 700 45px / 45px Lato, Helvetica, Arial, Lucida, sans-serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#A_7*/

  #A_7:after {
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      overflow-wrap: break-word;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
      text-size-adjust: 100%;
      text-transform: uppercase;
      border: 0px none rgb(255, 255, 255);
      font: 700 45px / 45px Lato, Helvetica, Arial, Lucida, sans-serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#A_7:after*/

  #A_7:before {
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      overflow-wrap: break-word;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
      text-size-adjust: 100%;
      text-transform: uppercase;
      border: 0px none rgb(255, 255, 255);
      font: 700 45px / 45px Lato, Helvetica, Arial, Lucida, sans-serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#A_7:before*/

  #DIV_8 {
      block-size: 70px;
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      box-sizing: border-box;
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      height: 70px;
      inline-size: 974.292px;
      overflow-wrap: break-word;
      perspective-origin: 487.146px 35px;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
      text-size-adjust: 100%;
      transform-origin: 487.146px 35px;
      width: 100%;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_8*/

  #DIV_8:after {
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      overflow-wrap: break-word;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
      text-size-adjust: 100%;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_8:after*/

  #DIV_8:before {
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      overflow-wrap: break-word;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
      text-size-adjust: 100%;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_8:before*/

  #A_9 {
      background-position: 50% 50%;
      block-size: 50px;
      border-block-end-color: rgb(0, 0, 0);
      border-block-end-style: solid;
      border-block-end-width: 2px;
      border-block-start-color: rgb(0, 0, 0);
      border-block-start-style: solid;
      border-block-start-width: 2px;
      border-end-end-radius: 27px;
      border-end-start-radius: 27px;
      border-inline-end-color: rgb(0, 0, 0);
      border-inline-end-style: solid;
      border-inline-end-width: 2px;
      border-inline-start-color: rgb(0, 0, 0);
      border-inline-start-style: solid;
      border-inline-start-width: 2px;
      border-start-end-radius: 27px;
      border-start-start-radius: 27px;
      bottom: 0px;
      box-sizing: border-box;
      caret-color: rgb(0, 0, 0);
      color: rgb(0, 0, 0);
      column-rule-color: rgb(0, 0, 0);
      display: inline-block;
      height: 50px;
      inline-size: 179.646px;
      inset-block-end: 0px;
      inset-block-start: 0px;
      inset-inline-end: 0px;
      inset-inline-start: 0px;
      left: 0px;
      margin-block-start: 20px;
      overflow-wrap: break-word;
      padding-block-end: 6px;
      padding-block-start: 6px;
      padding-inline-end: 20px;
      padding-inline-start: 20px;
      perspective-origin: 89.8229px 25px;
      position: relative;
      right: 0px;
      text-align: center;
      text-decoration: none solid rgb(0, 0, 0);
      text-emphasis-color: rgb(0, 0, 0);
      text-size-adjust: 100%;
      top: 0px;
      transform-origin: 89.8229px 25px;
      width: 179.646px;
      background: rgb(0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box;
      border: 2px solid rgb(0, 0, 0);
      border-radius: 27px;
      font: 700 20px / 34px Lato, Helvetica, Arial, Lucida, sans-serif;
      list-style: outside none none;
      margin: 20px 0px 0px;
      outline: rgb(0, 0, 0) none 0px;
      padding: 6px 20px;
      transition: all 0.2s ease 0s;
  }/*#A_9*/

  #A_9:after {
      block-size: 32px;
      border-block-end-color: rgb(0, 0, 0);
      border-block-start-color: rgb(0, 0, 0);
      border-inline-end-color: rgb(0, 0, 0);
      border-inline-start-color: rgb(0, 0, 0);
      bottom: 8px;
      caret-color: rgb(0, 0, 0);
      color: rgb(0, 0, 0);
      column-rule-color: rgb(0, 0, 0);
      content: '"5"';
      display: block;
      height: 32px;
      inline-size: 32px;
      inset-block-end: 8px;
      inset-block-start: 6px;
      inset-inline-end: 20px;
      inset-inline-start: 155.646px;
      left: 155.646px;
      margin-inline-start: -32px;
      opacity: 0;
      overflow-wrap: break-word;
      perspective-origin: 16px 16px;
      position: absolute;
      right: 20px;
      speak: none;
      text-align: center;
      text-decoration: none solid rgb(0, 0, 0);
      text-emphasis-color: rgb(0, 0, 0);
      text-shadow: rgb(0, 0, 0) 0px 0px 0px;
      text-size-adjust: 100%;
      top: 6px;
      transform-origin: 16px 16px;
      width: 32px;
      border: 0px none rgb(0, 0, 0);
      font: 32px / 32px ETmodules;
      list-style: outside none none;
      margin: 0px 0px 0px -32px;
      outline: rgb(0, 0, 0) none 0px;
      transition: all 0.2s ease 0s;
  }/*#A_9:after*/

  #A_9:before {
      border-block-end-color: rgb(0, 0, 0);
      border-block-start-color: rgb(0, 0, 0);
      border-inline-end-color: rgb(0, 0, 0);
      border-inline-start-color: rgb(0, 0, 0);
      caret-color: rgb(0, 0, 0);
      color: rgb(0, 0, 0);
      column-rule-color: rgb(0, 0, 0);
      content: '"5"';
      display: none;
      font-family: Lato, Helvetica, Arial, Lucida, sans-serif;
      font-size: 32px;
      font-variant: none;
      font-variant-ligatures: none;
      line-height: 32px;
      margin-inline-start: -32px;
      opacity: 0;
      overflow-wrap: break-word;
      position: absolute;
      text-align: center;
      text-decoration: none solid rgb(0, 0, 0);
      text-emphasis-color: rgb(0, 0, 0);
      text-size-adjust: 100%;
      border: 0px none rgb(0, 0, 0);
      list-style: outside none none;
      margin: 0px 0px 0px -32px;
      outline: rgb(0, 0, 0) none 0px;
      transition: all 0.2s ease 0s;
  }/*#A_9:before*/

  @media (max-width:767px){
    #DIV_4,#DIV_3,#DIV_5,#DIV_6,#DIV_7,#DIV_8,#DIV_1,#DIV_2{
       min-width: 300px !important;
    }

    #DIV_4{
      display: none;
       position: relative;

    }
    #DIV_5 {
       display: none;
       padding: 20px !important;
       min-height: fit-content !important;
     }
     #H2_6 a{
      font-size: 30% !important;
     }
  }

     </style>
<%-include('./partials/footer.ejs')%> 