 <%-include('./partials/header.ejs')%>
   <div class="container de-main-cont mb-4">
     <div class="display-flex breadcomb">
        <h5 class="">Home</h5>
        <span class="fa fa-angle-double-right"></span>
        <h5 class="">Shop</h5>
     </div>
     <div class="row">
       <div class="col-md-12 col-lg-9">
         <div class="touch-ts">
     <h2>SHOP</h2>
       </div>
     <div class="display-flex s-sort mt-3">
        <h6>Showing 1–9 of 18 results</h6>
        <select>
           <option>Sort by popularity</option>
           <option>Sort by latest</option>
           <option>Sort by price: high to low</option>
           <option>Sort by price: low to high</option>
        </select>
     </div>
     <div class="row mt-4">
     <div class="col-md-4 col-6 mb-5">
       <div class="img-cont mb-3">
           <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/ghost-shadow-blend-disposable-vape-guava-300x300.jpeg">
           <button class="sales-img-v"><span>Sales!</span></button>                    
           <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
       </div>
       <h2 class='product-name text-Lfont'>RASPBERRY KUSH</h2>
       <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
    </div>
    <div class="col-md-4 col-6 mb-5">
     <div class="img-cont mb-3">
         <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/ghost-shadow-blend-disposable-vape-guava-300x300.jpeg">
         <button class="sales-img-v"><span>Sales!</span></button>                    
         <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
     </div>
     <h2 class='product-name text-Lfont'>RASPBERRY KUSH</h2>
     <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
   </div>
   <div class="col-md-4 col-6 mb-5">
   <div class="img-cont mb-3">
       <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/ghost-shadow-blend-disposable-vape-guava-300x300.jpeg">
       <button class="sales-img-v"><span>Sales!</span></button>                    
       <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
   </div>
   <h2 class='product-name text-Lfont'>RASPBERRY KUSH</h2>
   <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
   </div>
   <div class="col-md-4 col-6 mb-5">
   <div class="img-cont mb-3">
     <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/ghost-shadow-blend-disposable-vape-guava-300x300.jpeg">
     <button class="sales-img-v"><span>Sales!</span></button>                    
     <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
   </div>
   <h2 class='product-name text-Lfont'>RASPBERRY KUSH</h2>
   <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
   </div>    
   <div class="col-md-4 col-6 mb-5">
   <div class="img-cont mb-3">
     <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/ghost-shadow-blend-disposable-vape-guava-300x300.jpeg">
     <button class="sales-img-v"><span>Sales!</span></button>                    
     <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
   </div>
   <h2 class='product-name text-Lfont'>PROMOTION GHOST BOX</h2>
   <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
   </div>
   <div class="col-md-4 col-6 mb-5">
   <div class="img-cont mb-3">
     <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/ghost-shadow-blend-disposable-vape-guava-300x300.jpeg">
     <button class="sales-img-v"><span>Sales!</span></button>                    
     <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
   </div>
   <h2 class='product-name text-Lfont'>PROMOTION GHOST BOX</h2>
   <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
   </div>
   <div class="col-md-4 col-6 mb-5">
   <div class="img-cont mb-3">
     <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/ghost-shadow-blend-disposable-vape-guava-300x300.jpeg">
     <button class="sales-img-v"><span>Sales!</span></button>                    
     <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
   </div>
   <h2 class='product-name text-Lfont'>PROMOTION GHOST BOX</h2>
   <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
   </div>
   <div class="col-md-4 col-6 mb-5">
   <div class="img-cont mb-3">
     <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/ghost-shadow-blend-disposable-vape-guava-300x300.jpeg">
     <button class="sales-img-v"><span>Sales!</span></button>                    
     <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
   </div>
   <h2 class='product-name text-Lfont'>GHOST PEN LIVE RESIN DISPOSABLE</h2>
   <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
   </div>
   <div class="col-md-4 col-6 mb-5">
   <div class="img-cont mb-3">
     <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/ghost-shadow-blend-disposable-vape-guava-300x300.jpeg">
     <button class="sales-img-v"><span>Sales!</span></button>                    
     <button class="pinterest-save img-cont-item-h"><span class="fa fa-pinterest"><span class="reduce"> Save</span></button></a>
   </div>
   <h2 class='product-name text-Lfont'>RASPBERRY KUSH</h2>
   <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
   </div>
   </div>
       <div class="display-flex next-btns">
         <button>1</button>
         <button>2</button>
         <button>3</button>
         <button>4</button>
         <button>...</button>
         <button>6</button>
         <button>7</button>
         <button>8</button>
         <button><span class="fa fa-long-arrow-right"></span></button>
     </div>        
   </div>
   </div>
   <div class="p-relative la-menu"><h5 class="n-f-line">‪</h5></div>
   </div>
   <style>
   .n-f-line{
   border-left: 1.6px solid rgb(238,238,238);
   position: absolute;
   display: flex;
   left: 80%;
   top: -2800px;
   height: 3000px;
   z-index: -1;
   }
   .img-cont:hover{
     border: none;
   }
   .img-cont:hover .product-img img-center{
    filter: blur(0) !important;
   }
   </style>
  <%-include('./partials/footer.ejs')%>