<%-include('./partials/header.ejs')%>
  <div class="container de-main-cont mb-4">
    <div class="display-flex breadcomb">
       <h5 class="">Home</h5>
       <span class="fa fa-angle-double-right"></span>
       <h5 class="">Touch x Ghost</h5>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-9">
        <div class="touch-ts">
    <h2>TORCH X GHOST</h2>
    <h2 class="text-center">HOT NEW GHOST TORCH DISPOSABLE.</h2>
    <h5>Introducing the Torch x Ghost Collection, a series of premium live resin disposable vape pens that are sure to elevate your vaping experience. The Torch Glow THC-X Live Resin Disposable is a new standout product in this collection. This device is designed with both form and function in mind, featuring an ergonomic mouthpiece, viewing window, and a dedicated pre-heat button.</h5>
    <h5>Each disposable contains 3.5 grams of premium live resin and is compact and portable, making it perfect for on-the-go use. The Torch x Ghost Collection is the perfect choice for those seeking a premium and convenient vaping experience.</h5>
      </div>
    <div class="display-flex s-sort mt-3">
       <h6>Showing 1–9 of 18 results</h6>
       <select>
          <option>Sort by popularity</option>
          <option>Sort by latest</option>
          <option>Sort by price: high to low</option>
          <option>Sort by price: low to high</option>
       </select>
    </div>
    <div class="row mt-4">
    <div class="col-md-4 mb-5">
      <div class="img-cont mb-3">
          <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/Pinkruntz-300x300.jpeg">
      </div>
      <h2 class='product-name text-Lfont'>WHITE FIRE OG EXTRACT</h2>
      <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
   </div>
   <div class="col-md-4 mb-5">
    <div class="img-cont mb-3">
        <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/Pinkruntz-300x300.jpeg">                 
    </div>
    <h2 class='product-name text-Lfont'>WHITE FIRE OG EXTRACT</h2>
    <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
  </div>
  <div class="col-md-4 mb-5">
  <div class="img-cont mb-3">
      <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/Pinkruntz-300x300.jpeg">                 
  </div>
  <h2 class='product-name text-Lfont'>WHITE FIRE OG EXTRACT</h2>
  <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
  </div>
  <div class="col-md-4 mb-5">
  <div class="img-cont mb-3">
    <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/Pinkruntz-300x300.jpeg">
  </div>
  <h2 class='product-name text-Lfont'>WHITE FIRE OG EXTRACT</h2>
  <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
  </div>    
  <div class="col-md-4 mb-5">
  <div class="img-cont mb-3">
    <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/Pinkruntz-300x300.jpeg">
  </div>
  <h2 class='product-name text-Lfont'>WHITE FIRE OG EXTRACT</h2>
  <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
  </div>
  <div class="col-md-4 mb-5">
  <div class="img-cont mb-3">
    <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/Pinkruntz-300x300.jpeg">
  </div>
  <h2 class='product-name text-Lfont'>WHITE FIRE OG EXTRACT</h2>
  <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
  </div>
  <div class="col-md-4 mb-5">
  <div class="img-cont mb-3">
    <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/Pinkruntz-300x300.jpeg">
  </div>
  <h2 class='product-name text-Lfont'>WHITE FIRE OG EXTRACT</h2>
  <div class="display-flex"><h4 class="discount-price">$60.00</h4><h4 class="p-price">$50.00</h4></div>
  </div>
  <div class="col-md-4 mb-5">
  <div class="img-cont mb-3">
    <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/Pinkruntz-300x300.jpeg">   
  </div>
  <h2 class='product-name text-Lfont'>WHITE FIRE OG EXTRACT</h2>
  <div class="display-flex"><h4 class="p-price">$50.00</h4></div>
  </div>
  <div class="col-md-4 mb-5">
  <div class="img-cont mb-3">
    <img class="product-img img-center" src="https://www.ghostcarts.com/wp-content/uploads/2023/04/Pinkruntz-300x300.jpeg">                
  </div>
  <h2 class='product-name text-Lfont'>BLACK FIRE OG EXTRACT</h2>
  <div class="display-flex"><h4 class="p-price">$50.00</h4></div>
  </div>
  </div>
      <div class="display-flex next-btns">
        <button>1</button>
        <button>2</button>
        <button><span class="fa fa-long-arrow-right"></span></button>
    </div>        
  </div>
  </div>
  <div class="p-relative la-menu"><h5 class="n-f-line">‪</h5></div>
  </div>
  <style>
  .n-f-line{
  border-left: 1.6px solid rgb(238,238,238);
  position: absolute;
  display: flex;
  left: 80%;
  top: -2800px;
  height: 3000px;
  z-index: -1;
  }
  .img-cont:hover{
    border: none;
  }
  .img-cont:hover .product-img{
   filter: blur(0) !important;
  }
  </style>
  <%-include('./partials/footer.ejs')%>