<%-include('./partials/header.ejs')%>
  <div class="container vali-cont">
  <h2 class="mb-2 text-center text-Lfont ut-font">PRODUCT VALIDATION.</h2>
  <h6 class="text-center text-Lfont">validate your ghost extracts product.</h6>  
  <img class="vali-img col-4"  src="https://www.ghostcarts.com/wp-content/uploads/2023/05/Screen-Shot-2023-05-21-at-12.02.18-AM.png">
  <div class="vali-inps container">
    <form class="">
        <input class="vali-inp" type="text" placeholder="Enter Genuine Product Code">
        <input class="vali-inp" type="text" placeholder="First Name">
        <input class="vali-inp" type="text" placeholder="Last Initial">
        <div class="display-flex">
            <h5 class="calc-num mt-minus5">14 + 4 = </h5>
            <input type="text" class="calc-inp-vali mt-minus10">
            <button class="vali-btn mt-minus10 su-btn">Submit<span class="fa fa-angle-right"></span></button>
        </div>   
    </form>
  </div>
  </div>
<%-include('./partials/footer.ejs')%> 