<%-include('./partials/header.ejs')%>
   <div class="whole-s">
    <div id="DIV_1">
      <div id="DIV_2">
        <div id="DIV_3">
          <div id="DIV_4">
            <div id="DIV_5">
            </div>
            <div id="DIV_6">
              <div id="DIV_7">
                <div id="DIV_8">
                  <div id="DIV_9" class="col-9">
                    <h2 id="H2_10">
                      WHOLESALE
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
       <div class="row">
          <div class="col-lg-6 col-md-12 mt-4 mx-auto">
               <div class="container">
            <h3 class="text-Lfont ml-3 whole-h">BUY GHOST CARTS IN BULK</h3>
            <h5 class="mb-4 whole-t ot-font">If you are a state-licensed medicinal or recreational cannabis shop or delivery service in the USA our stores are located in  Los Angeles, California, We are proud to serve our patients and customers with the best and nothing more. Please contact us below and we will send you our wholesale price sheet and menu ASAP.</h5>
            <h5 class="mb-4 whole-t ot-font">If you are a current or new ghost wholesale customer and would like to place a bulk order, please do so through the contact form.</h5>                
               </div>
          </div>
          <div class="col-lg-6 col-md-12 mt-4 mb-5 mx-auto">
               <div class="container">
                  <div class="row">
                      <div class="col-md-6">
                          <input class="whole-inp" type="text" placeholder="Name">
                      </div>
                      <div class="col-md-6">
                          <input class="whole-inp" type="text" placeholder="Email Address">
                      </div>
                      <div class="col-md-6">
                          <input class="whole-inp" type="text" placeholder="Address">
                      </div>
                      <div class="col-md-6">
                          <input class="whole-inp" type="text" placeholder="Phone">
                      </div>
                  </div>
                  <textarea placeholder="Message" class="whole-t-area"></textarea>
              <div class="display-flex mt-2">
                  <h5 class="calc-num">14 + 4 = </h5>
                  <input type="text" class="calc-inp">
                  <button class="whole-btn su-btn">Submit<span class="fa fa-angle-right"></span></button>
              </div>                
              </form>
               </div>
              <form>
          </div>
       </div>
    </div>
     </div>
    <footer class="bg-trans-dark">
      <div class="container">
        <div class="row">
        <div class="col-md-4 mt-4">
         <div class="p-relative"><h2 class="text-uppercase text-trans-red mb-2 pl-5">CONTACT</h2></div>
          <ul>
            <li class="contact-lis">INFO@LENOSCARTS.COM</li>
            <li class="contact-lis">PHONE : +1 ‪(716) 975-7931</li>
            <li class="contact-lis">1616 S HILL ST LOS ANGELES, CA 90015</li>
          </ul>
        </div>   
        <div class="col-md-4 mt-4">
          <div class="p-relative"><h2 class="text-uppercase text-trans-red mb-2">INFORMATION</h2></div>
           <ul>
             <li class="info-lis"><span class="info-lis-span">ABOUT US</span></li>
             <li class="info-lis"><span class="info-lis-span">CART</span></li>
             <li class="info-lis"><span class="info-lis-span">CHECKOUT</span></li>
             <li class="info-lis"><span class="info-lis-span">MY ACCOUNT</span></li>
             <li class="info-lis"><span class="info-lis-span">PRIVACY POLICY</span></li>
             <li class="info-lis"><span class="info-lis-span">SHIPPNG AND DELIVERY</span></li>
             <li class="info-lis"><span class="info-lis-span">SHOP</span></li>
            <li class="info-lis"><span class="info-lis-span">TERM OF SERVICES</span></li>
            <li class="info-lis"><span class="info-lis-span">TRACK YOUR ORDER</span></li>
            <li class="info-lis"><span class="info-lis-span">VALIDATE PRODUCT</span></li>
            <li class="info-lis"><span class="info-lis-span">WHOLESALE</span></li>
          </ul>       
        </div> 
        <div class="col-md-4 mt-4">
          <h2 class="text-uppercase text-trans-red mb-2">MONEY BACK GUARANTEE</h2>
          <div class="sa-menu">
            <img class="mb-4 mt-2 guran-img-sa" src="https://i0.wp.com/www.ghostcarts.com/wp-content/uploads/2023/05/11.webp?w=480&ssl=1">
          </div>        
          <div class="guran-img-cont la-menu">
            <img class="mb-4 mt-2 guran-img" src="https://i0.wp.com/www.ghostcarts.com/wp-content/uploads/2023/05/11.webp?w=480&ssl=1">
          </div>
        </div> 
        </div>   
        <div class="row mt-5">
            <h5 class="text-trans-red copy-ri col-md-2">© 2023 CANNABIS BRAND. ALL RIGHTS RESERVED</h5>
        </div>
      </div>
      <style>
        #DIV_1 {
      background-position: 50% 50%;
      block-size: 343px;
      bottom: 0px;
      box-sizing: border-box;
      height: 343px;
      inline-size: 1712px;
      inset-block-end: 0px;
      inset-block-start: 0px;
      inset-inline-end: 0px;
      inset-inline-start: 0px;
      left: 0px;
      perspective-origin: 856px 171.5px;
      position: relative;
      right: 0px;
      text-size-adjust: 100%;
      top: 0px;
      transform-origin: 856px 171.5px;
      width: 100%;
      background: rgb(255, 255, 255) none repeat scroll 50% 50% / cover padding-box border-box;
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
  }/*#DIV_1*/

  #DIV_1:after {
      text-size-adjust: 100%;
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
  }/*#DIV_1:after*/

  #DIV_1:before {
      text-size-adjust: 100%;
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
  }/*#DIV_1:before*/

  #DIV_2 {
      background-position: 50% 50%;
      block-size: 343px;
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      bottom: 0px;
      box-sizing: border-box;
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      height: 343px;
      inline-size: 1712px;
      inset-block-end: 0px;
      inset-block-start: 0px;
      inset-inline-end: 0px;
      inset-inline-start: 0px;
      left: 0px;
      perspective-origin: 856px 171.5px;
      position: relative;
      right: 0px;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-size-adjust: 100%;
      top: 0px;
      transform-origin: 856px 171.5px;
      width: 100%;
      animation: 0.2s linear 0s 1 normal none running none;
      background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      outline: rgb(255, 255, 255) none 0px;
      overflow: hidden;
  }/*#DIV_2*/

  #DIV_3 {
      block-size: 343px;
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      box-sizing: border-box;
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      height: 343px;
      inline-size: 1712px;
      perspective-origin: 856px 171.5px;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-size-adjust: 100%;
      transform-origin: 856px 171.5px;
      width: 100%;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_3*/

  #DIV_4 {
      background-position: 50% 50%;
      block-size: 343px;
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      bottom: 0px;
      box-sizing: border-box;
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      display: list-item;
      float: left;
      height: 343px;
      inline-size: 1712px;
      inset-block-end: 0px;
      inset-block-start: 0px;
      inset-inline-end: 0px;
      inset-inline-start: 0px;
      left: 0px;
      margin-inline-end: -1712px;
      padding-inline-end: 102.719px;
      padding-inline-start: 102.719px;
      perspective-origin: 856px 171.5px;
      position: relative;
      right: 0px;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-size-adjust: 100%;
      top: 0px;
      transform-origin: 856px 171.5px;
      width: 100%;
      background: rgba(0, 0, 0, 0) url("https://www.ghostcarts.com/wp-content/uploads/2023/04/C16CBFD5-2262-4938-8179-06A5C5FF27BA.jpeg") no-repeat scroll 50% 50% / cover padding-box border-box;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      margin: 0px -1712px 0px 0px;
      outline: rgb(255, 255, 255) none 0px;
      padding: 0px 102.719px;
  }/*#DIV_4*/

  #DIV_5 {
      block-size: 343px;
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      bottom: 0px;
      box-sizing: border-box;
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      height: 343px;
      inline-size: 1712px;
      inset-block-end: 0px;
      inset-block-start: 0px;
      inset-inline-end: 0px;
      inset-inline-start: 0px;
      left: 0px;
      perspective-origin: 856px 171.5px;
      position: absolute;
      right: 0px;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-size-adjust: 100%;
      top: 0px;
      transform-origin: 856px 171.5px;
      width: 100%;
      z-index: 1;
      background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0% / auto padding-box border-box;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_5*/

  #DIV_6 {
      block-size: 343px;
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      bottom: 0px;
      box-sizing: border-box;
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      display: table;
      height: 343px;
      inline-size: 1506.56px;
      inset-block-end: 0px;
      inset-block-start: 0px;
      inset-inline-end: 0px;
      inset-inline-start: 0px;
      left: 0px;
      perspective-origin: 753.281px 171.5px;
      position: relative;
      right: 0px;
      table-layout: fixed;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-size-adjust: 100%;
      top: 0px;
      transform-origin: 753.281px 171.5px;
      width: 100%;
      z-index: 2;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_6*/


  #DIV_7 {
      block-size: 343px;
      border-block-end-color: rgb(255, 255, 255);
      border-block-start-color: rgb(255, 255, 255);
      border-inline-end-color: rgb(255, 255, 255);
      border-inline-start-color: rgb(255, 255, 255);
      box-sizing: border-box;
      caret-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      column-rule-color: rgb(255, 255, 255);
      display: table-cell;
      height: 343px;
      inline-size: 1506.56px;
      perspective-origin: 753.281px 171.5px;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-emphasis-color: rgb(255, 255, 255);
      text-size-adjust: 100%;
      transform-origin: 753.281px 171.5px;
      vertical-align: middle;
      width: 100%;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_7*/

  #DIV_8 {
     position: relative !important;
      height: 343px;
      text-align: center;
      transform: matrix(1, 0, 0, 1, 0, 0);
      transform-origin: 753.281px 171.5px;
      width: 100%;
      animation: 0.7s ease-in-out 0.9s 1 normal both running fadeBottom;
      border: 0px none rgb(255, 255, 255);
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
      padding: 139px 120.521px 84px;
  }/*#DIV_8*/


  #DIV_9 {
      position:absolute !important;
      background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0% / auto padding-box border-box;
      border: 0px none rgb(255, 255, 255);
      border-radius: 19px;
      font: 500 17px / 28.9px "Roboto Slab", Georgia, "Times New Roman", serif;
      list-style: outside none none;
      outline: rgb(255, 255, 255) none 0px;
      padding: 30px;
  }/*#DIV_9*/

  #H2_10 {
      font-size: 200% !important;
      block-size: 60px;
      border: 0px none rgb(255, 255, 255);
      font: 700 50px / 50px Lato, Helvetica, Arial, Lucida, sans-serif;
  }/*#H2_10*/

  @media (max-width:767px){
    #DIV_8 {
       padding: 20px !important;
       min-height: fit-content !important;
       left: 0;
     }

     #DIV_9{
      width: 100%;
     }

     #H2_10 a{
      font-size: 30% !important;
     }
  }
      </style>
<%-include('./partials/footer.ejs')%>